.flatpak-builder
build
builddir
repo
*.bak
*.flatpak
*.flatpak.bak
*.flatpak.*
.examples
.examples/*
# build artifacts renamed to app-id during install
/org.krakua0.Aseprite.desktop
/org.krakua0.Aseprite.metainfo.xml
__pycache__
