[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Aseprite
GenericName=Sprite Editor
Comment=Animated Sprite Editor & Pixel Art Tool
GenericName[ru]=Редактор Спрайтов
Comment[ru]=Инструмент для 2D-анимации и пиксель-арта
Icon=org.krakua0.Aseprite
Categories=Graphics;2DGraphics;RasterGraphics;
PrefersNonDefaultGPU=true
Exec=aseprite
Terminal=false
StartupNotify=true
StartupWMClass=aseprite
MimeType=image/bmp;image/gif;image/jpeg;image/png;image/x-pcx;image/x-tga;image/vnd.microsoft.icon;video/x-flic;image/webp;image/x-aseprite;
